---
import Sidebar from "~/backoffice-layout/Sidebar.astro";
/**
 * Backoffice Layout. How call this component?
 *  <BackofficeLayout>
 *      <p>My page content</p>
 *  </BackofficeLayout>
 */
---

    <div class="flex flex-row">
      <Sidebar>
        <slot/>
      </Sidebar>
    </div>
  