---
import { Icon } from 'astro-icon/components'

/**
 * Sidebar list items
 * @prop content: elements that can be represented by a list 
 * @returns 
 */
interface Props {
  content: {
    item?: string;
    url?: string;
    icon?:string;
  }[]
}
const {content} = Astro.props;  

---

<ul class="menu h-full bg-base-200 text-base-content content-stretch justify-start">
    {content.map((item=><li key={item.item || item.icon}><div class="flex flex-row gap-5">
        <Icon name={item.icon} />
        <a href={item.url}>{item.item}</a>
        </div></li>))}
</ul>