---
import SpeakersDetail from "../../components/SpeakersDetail.astro";
import { speakersData } from "../../data/speakers-data";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return Object.keys(speakersData).map((speakerName: any) => {
    const speaker = speakersData[speakerName];
    return {
      params: { name: speakerName },
      props: { speaker },
    }}
  );
}

const { name } = Astro.params;
const { speaker } =  Astro.props;
---

<Layout title={"Devfest Pescara 2023 - " + speaker.name}>
  <div id={"speaker" + speaker.name } class="dots">
    <SpeakersDetail speakerId={name} />
  </div>
</Layout>