---
import { changeLanguage, t } from "i18next";
import AgendaOverview from "../../components/AgendaOverview.astro";
import AgendaSelect from "../../components/AgendaSelect.astro";
import Layout from "../../layouts/Layout.astro";
import { events, filterEventsByDay } from "../../data/agenda-data";
import { getSchedulesFiltersByUrl } from "../../utils";

changeLanguage("en");

const url = new URL(Astro.request.url);
const filters = getSchedulesFiltersByUrl(url);
const currentFilter = url.searchParams.get("tag");
const urlWithoutParams = url.origin + url.pathname;
export const prerender = false;
---

<Layout title="Devfest Pescara 2023 - Agenda">
  <AgendaSelect day={2}>
    {
      currentFilter ? (
        <a href={urlWithoutParams} class="btn btn-secondary" slot="filter">
          {t("agenda:remove-filters-for", { filter: currentFilter })}
        </a>
      ) : null
    }
    <AgendaOverview events={filterEventsByDay(events, 2, filters)} />
  </AgendaSelect>
</Layout>
