---
import { changeLanguage, t } from "i18next";
import AgendaOverview from "../../components/AgendaOverview.astro";
import AgendaSelect from "../../components/AgendaSelect.astro";
import { getEvents } from "../../data/agenda";
import Layout from "../../layouts/Layout.astro";
import { env } from "../../costants";

changeLanguage("en");

const { pathname, searchParams } = new URL(Astro.request.url);
const currentFilter = searchParams.get("tag");
const urlWithoutParams = env.siteUrl + pathname;
const events = await getEvents({
    filters: {
        tag: currentFilter ? currentFilter : undefined,
        day: 2,
    },
});
export const prerender = false;
---

<Layout title="Devfest Pescara 2023 - Agenda">
  <AgendaSelect day={2}>
    {
      currentFilter ? (
        <a href={urlWithoutParams} class="btn btn-secondary" slot="filter">
          {t("agenda:remove-filters-for", { filter: currentFilter })}
        </a>
      ) : null
    }
    <div class="relative max-w-screen-2xl m-auto md:p-2">
      <AgendaOverview events={events} />
    </div>
  </AgendaSelect>
</Layout>
../../data/agenda