---
import i18next, { changeLanguage } from "i18next";
changeLanguage("en");
---

<html lang={i18next.language}>
  <head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hedwig - 404" />
  </head>
  <body>
    <main role="main">
     <h1>404</h1>
    </main>
  </body>
</html>