---
import i18next, { changeLanguage } from "i18next";

import { UserRecord, getAuth } from "firebase-admin/auth";
import LoginComponent from "~/components/LoginComponent.astro";
import { app } from "../firebase/server";

changeLanguage("en");

const auth = getAuth(app);

/* Check current session */
// if (!Astro.cookies.has("session")) {
//   return Astro.redirect("/signin");
// }
const sessionCookie = Astro.cookies.get("session")?.value;
let user: UserRecord | null = null;
if (sessionCookie) {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  user = await auth.getUser(decodedCookie.uid);
}


---

<html lang={i18next.language}>
  <head>
    <title>Hedwig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website template for Devfests, powered by GDG Pescara">
  </head>
  <body>
    <main role="main">
      <h1>Welcome to Hedwig!</h1>
      <p>We are happy to see you here</p>
      {user && (
        <h2>User logged: {user.displayName}</h2>
        <form action="/api/auth/signout">
          <button type="submit">Sign out</button>
        </form>
      )}
      {!user && (
        <LoginComponent />
      )}
    </main>
  </body>
</html>
