---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import sponsorIconSrc from "../assets/sponsor.svg";
import partecipantsIconSrc from "../assets/partecipants.svg";
import speakerIconSrc from "../assets/speaker.svg";
import daysIconSrc from "../assets/days.svg";
import { Image } from "@astrojs/image/components";
import Values from "../components/Values.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro.">
	<Hero />
	<Section title="Numbers" id="numbers">
		<div class="grid justify-around xl:grid-cols-4 md:grid-cols-2">
			<Values
				title="Sponsor"
				description="16+"
				imageAlt=""
				imageSrc={sponsorIconSrc}
			/>
			<Values
				title="Partecipants"
				description="16+"
				imageAlt=""
				imageSrc={partecipantsIconSrc}
			/>
			<Values
				title="Speaker"
				description="16+"
				imageAlt=""
				imageSrc={speakerIconSrc}
			/>
			<Values
				title="Days"
				description="16+"
				imageAlt=""
				imageSrc={daysIconSrc}
			/>
		</div>
	</Section>
	<Section id="location">
		<div class="flex md:flex-col lg:flex-row">
			<div class="bg-green-500 h-[700px] w-full"></div>
			<div class="w-full">Location</div>
		</div>
	</Section>
	<Section title="Sponsor" id="sponsors">sponsor</Section>
	<div class="keep-in-touch">
		<Section title="Keep in touch" id="contacts">keep in touch</Section>
	</div>
</Layout>
<style>
	.keep-in-touch {
		background-color: red;
		/* background-image: url("/images/ellipse.svg");  */
		/* background-repeat: repeat; */
		background-position: 30px 30px;
	}
</style>
