---
import i18next, { changeLanguage } from "i18next";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "~/layouts/Layout.astro";

changeLanguage("en");

const auth = getAuth(app);
console.log(auth);
---

<html lang={i18next.language}>
  <head>
    <title>Hedwig</title>
  </head>
  <body>
    <main role="main">
      <Layout>
        <p>My page content, wrapped in a layout!</p>
      </Layout>
    </main>
  </body>
</html>
