---
import i18next, { changeLanguage } from "i18next";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import BackofficeLayout from "~/backoffice-layout/BackofficeLayout.astro";

changeLanguage("en");

const auth = getAuth(app);
console.log(auth);
---

<html lang={i18next.language}>
  <head>
    <title>Hedwig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website template for Devfests, powered by GDG Pescara">
  </head>
  <body>
    <main role="main">
      <h1>Welcome to Hedwig!</h1>
    </main>
  </body>
</html>
