---
import { getEntryBySlug } from "astro:content";
import i18next, { changeLanguage, t } from "i18next";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");

const content = await getEntryBySlug("location", i18next.language);
if (!content) {
  throw new Response("Not found", { status: 404 });
}
const { Content } = await content.render();
---

<Layout title="Devfest Pescara 2023 - Location">
  <Section additionalClass="dots pt-32 pb-16 md:py-32 xl:py-64">
    <div class="max-w-screen-lg m-auto text-center">
      <Heading level="h2" text={t("location:title")} />
    </div>
  </Section>
  <div class="max-w-screen-xl m-auto px-6 prose py-16 lg:py-32">
    <Content />
  </div>
</Layout>
