---
import i18next, { changeLanguage } from "i18next";

changeLanguage("en");
---

<html lang={i18next.language}>
  <head>
    <title>Hedwig - Terms of service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hedwig - Terms of service">
  </head>
  <body>
    <main role="main">
      <h1>Terms of service</h1>
    </main>
  </body>
</html>
