---
import { events, filterEventsByDay } from "../data/agenda-data";
import AgendaOverview from "./AgendaOverview.astro";
import Section from "./Section.astro";

type Props = {
  day: number;
};

const { day } = Astro.props;
---

<div id="agenda" class="dots">
  <Section title="Agenda" />
</div>
<div>
  <div class="max-w-3xl text-center m-auto">
    <a
      href="/agenda"
      class="btn btn-o utline btn-wide btn-circle border-dashed text-black"
      >Day 1</a
    >
    <a
      href="/agenda/2"
      class="btn btn-outline btn-wide btn-circle border-dashed text-black"
      >Day 2</a
    >
  </div>
</div>
<div class="relative md:px-9">
  <h2 class="text-4xl">18 Novembre 2023</h2>

  <AgendaOverview events={filterEventsByDay(events, day)} />
</div>
