---
import Section from "./Section.astro";
import AgendaCard from "./AgendaCard.astro";
import agenda from "../data/agenda";

// we need to group all the events at the same time
const key = 'time';
const agendaFiltered = agenda.reduce((acc, cur) => {
    if(cur[key]) {
        const event = {
            name: cur.name,
            length: cur.length,
            language: cur.language,
            speaker: cur.speaker
        };
        let alreadyAdded = false;
        if (acc.length) {
            if(acc[acc.length - 1][key] === cur[key]) {
                alreadyAdded = true;
                acc[acc.length - 1].multiple = true;
                acc[acc.length - 1].events.push(event);
            }
        }
        if(!alreadyAdded) {
            const eventToAdd = {
                time: cur.time,
                multiple: false,
                events: [event]
            };
            acc.push(eventToAdd);
        }
    }
    return acc;
}, [] as any[]);

---
<div id="agenda" class="dots">
    <Section title="Agenda">
        <div class="max-w-3xl text-center">
            <a
                class="btn btn-outline btn-wide btn-circle border-dashed text-black"
                target="_blank">Day 1</a
            >
            <a
                class="btn btn-outline btn-wide btn-circle border-dashed text-black"
                target="_blank">Day 2</a
            >
        </div>
        

    </Section>
</div>
<div class="relative mx-9">
    <h2 class="text-4xl">18 Novembre 2023</h2>
    {
        agendaFiltered.map((element) => (
        
            <AgendaCard
                time={element.time}
                events={element.events}
                multiple={element.multiple}
            />
        ))
    }
</div>


