---
import clsx from "clsx";
import Section from "./Section.astro";
// @ts-expect-error - no types
import { localizeUrl } from "astro-i18next";
import { t } from "i18next";

type Props = {
  day: number;
};

const { day } = Astro.props;
const { origin } = new URL(Astro.request.url);
---

<Section title={t("agenda:title") || ""} id="agenda" additionalClass="dots">
  <div
    class="w-3xl max-w-full text-center m-auto py-8 mt-16 xl:mt-32 flex flex-wrap flex-col md:flex-row justify-center gap-4 items-center"
  >
    <a
      href={localizeUrl(`${origin}/agenda`)}
      tabindex={day === 1 ? -1 : null}
      class={clsx("btn btn-wide btn-secondary btn-circle", {
        "btn-outline": day !== 1,
      })}>{t("agenda:event-day", { day: 1 })}</a
    >
    <a
      href={localizeUrl(`${origin}/agenda/2`)}
      tabindex={day === 2 ? -1 : null}
      class={clsx("btn btn-secondary btn-wide btn-circle", {
        "btn-outline": day !== 2,
      })}>{t("agenda:event-day", { day: 2 })}</a
    >
  </div>
</Section>
<div class="relative md:px-9 py-12 md:py-24 m-auto w-full">
  <h2 class="text-4xl text-center font-bold text-accent-content px-2 md:px-0">
    {day === 1 ? t("agenda:event-date-1") : t("agenda:event-date-2")}
  </h2>
  <div class="py-5 max-w-screen-2xl m-auto p-2">
    <slot name="filter" />
  </div>
  <div>
    <slot />
  </div>
</div>
