---
import clsx from "clsx";
import Section from "./Section.astro";

type Props = {
  day: number;
};

const { day } = Astro.props;
import { t } from "i18next";
---

<Section 
  title={t("agenda:title") || ""}
  id="agenda"
  additionalClass="dots xl:min-h-screen"
  >
  <div
    class="w-3xl max-w-full text-center m-auto py-8 mt-16 xl:mt-32 flex flex-wrap flex-col md:flex-row justify-center gap-4 items-center"
  >
    <a
      href="/agenda"
      class={clsx(
        "btn btn-outline btn-wide btn-circle border-dashed text-black",
        { "bg-black text-white": day !== 1 }, //TODO: to verify
        { "bg-white text-black": day === 1 } //TODO: to verify
      )}>{t("agenda:event-day", { day: 1 })}</a
    >
    <a
      href="/agenda/2"
      class={clsx(
        "btn btn-outline btn-wide btn-circle border-dashed uppercase",
        { "bg-black text-white": day !== 2 }, //TODO: to verify
        { "bg-white text-black": day === 2 } //TODO: to verify
      )}>{t("agenda:event-day", { day: 2 })}</a
    >
  </div>
</Section>
<div class="relative text-center md:px-9 py-12 md:py-24">
  <h2 class="text-4xl font-bold text-accent-content px-2 md:px-0">
    {day === 1 ? t("agenda:event-date-1") : t("agenda:event-date-2")}
  </h2>
  <div>
  <slot />
</div>
