---
import Navbar from "./Navbar.astro";
---

<div class="drawer">
    <input id="drawer-toggle" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="w-full navbar sticky top-0 z-40 backdrop-blur-2xl mix-blend-difference">
            <div class="flex-none lg:hidden">
                <label for="drawer-toggle" class="btn btn-square btn-ghost">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 stroke-current"
                        ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path></svg
                    >
                </label>
            </div>
            <!-- Logo -->
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-3xl font-scriptina">Devfest 2023</a>
            </div>
            <nav class="flex-none hidden lg:block">
                <ul class="menu menu-horizontal">
                    <Navbar />
                </ul>
            </nav>
        </div>
        <!-- Page content here -->
        <slot />
    </div>
    <aside class="drawer-side">
        <label for="drawer-toggle" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200">
            <!-- Sidebar content here (a duplication on navbar) -->
            <Navbar />
        </ul>
    </aside>
</div>
