---
import { Image } from "@astrojs/image/components";
import gdgLogoSrc from "../assets/gdg-logo.svg";

const signUpUrl =
    "https://gdg.community.dev/events/details/google-gdg-pescara-presents-devfest-pescara-2023/cohost-gdg-pescara";
---

<section id="signUp" class="hero min-h-screen bg-[url('images/map-old-top.svg')]">
    <div
        class="hero-content text-center backdrop-blur-md backdrop-contrast-20 p-16 rounded-[25px]"
    >
        <div class="max-w-3xl">
            <Image
                width={306}
                height={23}
                class="m-auto"
                src={gdgLogoSrc}
                alt="GDG Logo"
            />
            <h1 class="text-8xl font-scriptina font-light text-black pt-16">
                DevFest Pescara 2023
            </h1>
            <h2 class="text-8xl font-harrypotter text-black py-16">
                and the developers' magic
            </h2>
            <a
                class="btn btn-outline btn-wide btn-circle border-dashed text-black"
                href={signUpUrl}
                target="_blank">Sign up</a>
        </div>
    </div>
</section>

<style lang="scss">
    .hero {
        width: 100%;
        min-height: 100vh;
        position: relative;
        padding: 160px 0 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("images/intro.png");

        h1 {
            font-size: 60px;
        }

        h2 {
            color: #000;
            font-size: 80px;
            @media (max-width: 640px) {
                font-size: 60px;
            }
        }
    }

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
