---
import {Image} from "@astrojs/image/components";
import gdgLogoSrc from "../assets/gdg-logo.svg";
---
<div class="hero min-h-screen bg-[url('images/map-old-top.svg')]">
    <div class="hero-content text-center backdrop-blur-md backdrop-contrast-20 p-16 rounded-[25px]">
        <div class="max-w-3xl">
            <Image
                class="m-auto"
                src={gdgLogoSrc}
                alt="GDG Logo"
            />
            <h1 class="text-8xl font-scriptina font-light text-black pt-16">Dev Fest 2023</h1>
            <h2 class="text-8xl font-harrypotter text-black py-16">and the developer magic</h2>
            <a class="btn btn-outline btn-wide btn-circle border-dashed text-black">Sign up</a>
        </div>
    </div>
</div>
