---
export interface Props {
    href: string;
}

const { href } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
console.log(currentPath);
---

<a href={href} class={href.slice(1) === currentPath ? "active" : ""}><slot /></a>
