<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
  let map: google.maps.Map;

  async function initMap(): Promise<void> {
    const location = {lat: 42.45195, lng: 14.2248392};
    const {Map, InfoWindow} = (await google.maps.importLibrary(
        "maps"
    )) as google.maps.MapsLibrary;

    map = new Map(document.getElementById("map") as HTMLElement, {
      center: location,
      zoom: 15,
      fullscreenControl: false,
      keyboardShortcuts: false,
      mapTypeControl: false,
      streetViewControl: false,
      mapId: "d76f275f9f57240e",
    });

    const marker = new google.maps.Marker({
      position: location,
      map,
      title: "Università 'G. D'Annunzio' - sede Pescara",
      icon: "images/marker.png",
    });

    const infoWindow = new InfoWindow();

    const fn = () => {
      infoWindow.close();
      infoWindow.setContent(marker.getTitle());
      infoWindow.open(marker.getMap(), marker);
    };

    marker.addListener("click", fn);
  }

  initMap();
</script>

<div id="map" class="h-full min-h-[30rem] xl:rounded-tr-3xl overflow-hidden order-2 md:order-1"></div>

<script>
/** @ts-ignore copy/paste stuff for google */
(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyACS8IGSJ394ipNcrl_Y-6T_q-1DpfhN88", v: "weekly"});</script>

