---
import Link from "./Link.astro";
---

<li class=""><Link href="/">Home</Link></li>
<li class=""><Link href="/a">Link</Link></li>
<li class=""><Link href="/b">Link</Link></li>
<li class=""><Link href="/c">Link</Link></li>
<li class=""><Link href="/d">Link</Link></li>
