---
import { t } from "i18next";
import Link from "./Link.astro";
// @ts-expect-error missing types?
import { localizeUrl, localizePath } from "astro-i18next";
import { env } from "../costants";

const navItems = [
  { name: t("Home"), path: "/", exact: true },
  { name: t("agenda"), path: "/agenda" },
  { name: t("speakers"), path: "/speaker" },
  { name: t("coc:title"), path: "/code-of-conduct" },
  { name: t("location:title"), path: "/location" },
] as const;

const { pathname } = new URL(Astro.request.url);
const origin = env.siteUrl;

function isActive(path: string, exact = false) {
  if (exact) {
    return (
      localizePath(pathname) === localizePath(new URL(path, origin).pathname)
    );
  }
  return pathname.startsWith(localizePath(new URL(path, origin).pathname));
}
---

{
  navItems.map((nav) => (
    <li class="nav-item text-white font-bold">
      <Link
        href={localizeUrl(`${origin}/${nav.path}`)}
        active={isActive(nav.path, "exact" in nav ? nav.exact : false)}
      >
        {nav.name}
      </Link>
    </li>
  ))
}
