---
import Link from "./Link.astro";

const links = [
    {name: "Sign up", link: "#sign-up"},
    {name: "Numbers", link: "#numbers"},
    {name: "Location", link: "#location"},
    {name: "Sponsors", link: "#sponsors"},
    {name: "Contact", link: "#contact"}
];

---

{
    links.map((item) => (
        <li class=""><Link href={item.link}>{item.name}</Link></li>
    ))
}
