---
import navData from "../data/nav-data";
import Link from "./Link.astro";

---

{
  navData.map((nav, index) => (
    <li class="text-white">
      <Link href={nav.path} active={index === 0}>
        {nav.name}
      </Link>
    </li>
  ))
}
