---
import { t } from "i18next";
import Link from "./Link.astro";

const navData = [
  { name: t("sign-up"), path: "#signUp" },
  { name: t("landing:numbers.title"), path: "#numbers" },
  { name: t("landing:location.title"), path: "#location" },
  { name: t("landing:sponsors.title"), path: "#sponsors" },
  { name: t("keep-in-touch.title"), path: "#contacts" },
];
---

{
  navData.map((nav, index) => (
    <li class="text-white">
      <Link href={nav.path} active={index === 0}>
        {nav.name}
      </Link>
    </li>
  ))
}
