---
import Link from "./Link.astro";
---

<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Devfest 2023</a>
        <!-- TODO: this stuff should be dynamic -->
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li class=""><Link href="/">Home</Link></li>
            <li class=""><Link href="/a">Link</Link></li>
            <li class=""><Link href="/b">Link</Link></li>
            <li class=""><Link href="/c">Link</Link></li>
            <li class=""><Link href="/d">Link</Link></li>
        </ul>
    </div>
</div>
