---
import Link from "./Link.astro";
---

<li class=""><Link href="#sign-up">Sign up</Link></li>
<li class=""><Link href="#numbers">Numbers</Link></li>
<li class=""><Link href="#location">Location</Link></li>
<li class=""><Link href="#sponsors">Sponsor</Link></li>
<li class=""><Link href="#contacts">Contacts</Link></li>
