---
import Heading from "./Heading.astro";
interface Props {
  title?: string;
}

const {title} = Astro.props;

const sectionClass = title ? "py-16 my-16" : "";
---

<section class={sectionClass}>
    <div class="text-center">
        <Heading text={title} level="h2"/>
    </div>
    <slot/>
</section>
