---
import Heading from "./Heading.astro";
interface Props {
    title?: string;
    id?: string;
}

const { title, id } = Astro.props;

const sectionClass = `xl:pt-16 xl:pb-8 parallax ${id}`;

---

<section class={sectionClass}>
    <div class="text-center">
        <Heading text={title} level="h2"/>
    </div>
    <slot/>
</section>

<style is:global lang="scss">
    .numbers, .sponsors {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-image: url("images/old-map-bg.png");
    }

    .contacts {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-image: url("images/grid-point.png");
    }
</style>