---
import Heading from "./Heading.astro";
interface Props {
  title?: string;
}

const {title} = Astro.props;
---

<section class="xl:pt-16 xl:pb-8">
    <div class="text-center">
        <Heading text={title} level="h2"/>
    </div>
    <slot/>
</section>
