---
interface Props {
    title?: string;
    id?: string;
}

const { title, id } = Astro.props;
---

<section class="xl:pt-40 xl:pb-32" id={id}>
    {
        title && (
            <h2 class="text-center xl:text-3xl text-2xl xl:pb-32">{title}</h2>
        )
    }
    <slot />
</section>
