---
import googleIconSrc from "../assets/sponsors/google.png";
import stickermuleIconSrc from "../assets/sponsors/stickermule.png";
import frontiereIconSrc from "../assets/sponsors/frontiere.svg";
import Section from "./Section.astro";
import Sponsor from "./Sponsor.astro";

interface SponsorValue {
  level: string;
  name: string;
  imageSrc: string;
  link: string;
}

const sponsors: SponsorValue[][] = [
  [
    {
      level: "Main sponsor",
      name: "Google",
      imageSrc: googleIconSrc,
      link: "https://gdg.community.dev/"
    },
    {
      level: "Media partner",
      name: "Stickermule",
      imageSrc: stickermuleIconSrc,
      link: "https://www.stickermule.com"
    }
  ],
  [
    {
      level: "Gold sponsor",
      name: "Frontiere",
      imageSrc: frontiereIconSrc,
      link: "https://frontiere.io/"
    }
  ]
];
---
<div class="bg-[url('images/old-map.png')]">
    <Section title="Sponsors">
      {sponsors.map((sponsorLevel) => (
              <div class="flex flex-wrap justify-center gap-8 pt-20 pb-16">
                {sponsorLevel.map((sponsor) => (
                        <Sponsor
                                level={sponsor.level}
                                imageAlt={sponsor.name}
                                imageSrc={sponsor.imageSrc}
                                link={sponsor.link}
                        >
                        </Sponsor>
                ))}
              </div>
      ))}
    </Section>
</div>

