---
import googleIconSrc from "../assets/sponsors/google.png";
import stickermuleIconSrc from "../assets/sponsors/stickermule.png";
import frontiereIconSrc from "../assets/sponsors/frontiere.svg";
import tredipiIconSrc from "../assets/sponsors/tredipi.png";
import surediIconSrc from "../assets/sponsors/suredi.svg";
import udaIconSrc from "../assets/sponsors/uda.png";
import decIconSrc from "../assets/sponsors/dec.png";
import netsonsIconSrc from "../assets/sponsors/netsons.svg";
import futuraIconSrc from "../assets/sponsors/futura.svg";
import leanStartupIconSrc from "../assets/sponsors/leanstartuplab.png";
import pythonPescaraIconSrc from "../assets/sponsors/pythonpescara.png";
import jetbrainsIconSrc from "../assets/sponsors/jetbrains.svg";
import gdgcataniaIconSrc from "../assets/sponsors/gdgcatania.svg";
import synergieIconSrc from "../assets/sponsors/synergie.png";
import innovalleyIconSrc from "../assets/sponsors/innovalley.png";
import ready2useIconSrc from "../assets/sponsors/ready2use.png";
import aesysIconSrc from "../assets/sponsors/aesys.png";
import scuolacomicsIconSrc from "../assets/sponsors/scuolacomics.png";
import innovazioneIconSrc from "../assets/sponsors/innovazione.png";
import nearformIconSrc from "../assets/sponsors/nearform.svg";
import randstadIconSrc from "../assets/sponsors/randstad.svg";
import codemotionIconSrc from "../assets/sponsors/codemotion.svg";
import falconeIconSrc from "../assets/sponsors/falcone.png";
import cialdaecoIconSrc from "../assets/sponsors/cialdaeco.png";
import defiIconSrc from "../assets/sponsors/defi.png";
import ngromeIconSrc from "../assets/sponsors/ngconf.svg";
import wpteramoIconSrc from "../assets/sponsors/wpteramo.png";
import cronosferaIconSrc from "../assets/sponsors/cronosfera.png";
import Section from "./Section.astro";
import Sponsor from "./Sponsor.astro";
import type { ImageMetadata } from "astro";
import { t } from "i18next";

interface SponsorValue {
  level: string;
  name: string;
  imageSrc: ImageMetadata;
  link: string;
}

const sponsors: SponsorValue[][] = [
  [
    {
      level: "Main sponsor",
      name: "Google",
      imageSrc: googleIconSrc,
      link: "https://gdg.community.dev/",
    }
  ],
  [
    {
      level: "Platinum sponsor",
      name: "Netsons",
      imageSrc: netsonsIconSrc,
      link: "https://www.netsons.com/",
    },
    {
      level: "Platinum sponsor",
      name: "Ready2Use",
      imageSrc: ready2useIconSrc,
      link: "https://r2u.it/",
    },
    {
      level: "Platinum sponsor",
      name: "Aesys - Aesys Cyber",
      imageSrc: aesysIconSrc,
      link: "https://www.aesys.tech/",
    }
  ],
  [
    {
      level: "Gold sponsor",
      name: "Frontiere",
      imageSrc: frontiereIconSrc,
      link: "https://frontiere.io/",
    },
    {
      level: "Gold sponsor",
      name: "Tredipi",
      imageSrc: tredipiIconSrc,
      link: "https://www.tredipi.it/",
    },
    {
      level: "Gold sponsor",
      name: "Synergie",
      imageSrc: synergieIconSrc,
      link: "https://www.synergie-italia.it/",
    },
    {
      level: "Gold sponsor",
      name: "Innovalley",
      imageSrc: innovalleyIconSrc,
      link: "https://www.inno-valley.it/",
    }
  ],
  [
    {
      level: "Silver sponsor",
      name: "Suredi",
      imageSrc: surediIconSrc,
      link: "https://www.suredi.it/",
    },
    {
      level: "Silver sponsor",
      name: "Scuola Internazionale del Comics - sede di Pescara",
      imageSrc: scuolacomicsIconSrc,
      link: "https://scuolacomics.com/sede/pescara",
    },
    {
      level: "Silver sponsor",
      name: "Randstad",
      imageSrc: randstadIconSrc,
      link: "https://www.randstad.it/",
    }
  ],
  [
    {
      level: "Bronze sponsor",
      name: "Futura",
      imageSrc: futuraIconSrc,
      link: "https://www.linkedin.com/company/futura-dev/",
    },
    {
      level: "Bronze sponsor",
      name: "Nearform",
      imageSrc: nearformIconSrc,
      link: "https://www.nearform.com/",
    }
  ],
  [
    {
      level: "Break partner",
      name: "Dolciaria Falcone",
      imageSrc: falconeIconSrc,
      link: "https://www.dolciariafalcone.com/",
    },
    {
      level: "Break partner",
      name: "Cialda & Co.",
      imageSrc: cialdaecoIconSrc,
      link: "https://www.cialdaeco.com/",
    }
  ],
  [
    {
      level: "General partner",
      name: "UdA",
      imageSrc: udaIconSrc,
      link: "https://www.unich.it/",
    },
    {
      level: "General Partner",
      name: "DEC",
      imageSrc: decIconSrc,
      link: "https://www.dec.unich.it/home-dec-1",
    },
    {
      level: "General partner",
      name: "JetBrains",
      imageSrc: jetbrainsIconSrc,
      link: "https://www.jetbrains.com/",
    },
    {
      level: "Media partner",
      name: "Stickermule",
      imageSrc: stickermuleIconSrc,
      link: "https://www.stickermule.com",
    },
  ],
  [
    {
      level: "Gamification partner",
      name: "Cronosfera",
      imageSrc: cronosferaIconSrc,
      link: "https://www.cronosfera.it/",
    }
  ],
  [
    {
      level: "Community partner",
      name: "Lean Startup Lab",
      imageSrc: leanStartupIconSrc,
      link: "https://meetu.ps/c/4fDsg/FSPD4/a",
    },
    {
      level: "Community partner",
      name: "Python Pescara",
      imageSrc: pythonPescaraIconSrc,
      link: "https://pescara.python.it/",
    },
    {
      level: "Community partner",
      name: "GDG Catania",
      imageSrc: gdgcataniaIconSrc,
      link: "https://gdg.community.dev/gdg-catania/",
    }
  ],
  [
    {
      level: "Community partner",
      name: "InnoVAzione",
      imageSrc: innovazioneIconSrc,
      link: "https://www.instagram.com/innovazioneunich/",
    },
    {
      level: "Community partner",
      name: "Codemotion",
      imageSrc: codemotionIconSrc,
      link: "https://www.codemotion.com/",
    },
    {
      level: "Community partner",
      name: "Wordpress Meetup Teramo",
      imageSrc: wpteramoIconSrc,
      link: "https://wpteramo.it/",
    }
  ],
  [
    {
      level: "Community partner",
      name: "Officina DeFi",
      imageSrc: defiIconSrc,
      link: "https://www.officinadefi.com/",
    },
    {
      level: "Community partner",
      name: "NgRome",
      imageSrc: ngromeIconSrc,
      link: "https://2023.ngrome.io/",
    }
  ]
];
---

<Section 
  title={t('landing:sponsors.title') || 'Sponsors'} 
  additionalClass="bg-[url('/images/map-old-sponsors.svg')]"
  id="sponsors">
  <div class="m-auto">
    {
      sponsors.map((sponsorLevel) => (
        <div class="flex flex-wrap my-8 justify-center m-auto items-center">
          {sponsorLevel.map((sponsor) => (
            <Sponsor
              level={sponsor.level}
              imageAlt={sponsor.name}
              imageSrc={sponsor.imageSrc}
              link={sponsor.link}
            />
          ))}
        </div>
      ))
    }
  </div>
</Section>
