---
import googleIconSrc from "../assets/sponsors/google.png";
import stickermuleIconSrc from "../assets/sponsors/stickermule.png";
import frontiereIconSrc from "../assets/sponsors/frontiere.svg";
import udaIconSrc from "../assets/sponsors/uda.png";
import decIconSrc from "../assets/sponsors/dec.png";
import Section from "./Section.astro";
import Sponsor from "./Sponsor.astro";
import type { ImageMetadata } from "astro";
import { t } from "i18next";

interface SponsorValue {
  level: string;
  name: string;
  imageSrc: ImageMetadata;
  link: string;
}

const sponsors: SponsorValue[][] = [
  [
    {
      level: "Main sponsor",
      name: "Google",
      imageSrc: googleIconSrc,
      link: "https://gdg.community.dev/",
    },
    {
      level: "Media partner",
      name: "Stickermule",
      imageSrc: stickermuleIconSrc,
      link: "https://www.stickermule.com",
    },
  ],
  [
    {
      level: "General partner",
      name: "UdA",
      imageSrc: udaIconSrc,
      link: "https://www.unich.it/",
    },
    {
      level: "General Partner",
      name: "DEC",
      imageSrc: decIconSrc,
      link: "https://www.dec.unich.it/home-dec-1",
    },
  ],
  [
    {
      level: "Gold sponsor",
      name: "Frontiere",
      imageSrc: frontiereIconSrc,
      link: "https://frontiere.io/",
    },
  ],
];
---

<div id="sponsors" class="bg-[url('/images/map-old-sponsors.svg')]">
  <Section title={t('landing:sponsors.title') || 'Sponsors'}>
    <div class="m-auto">
      {
        sponsors.map((sponsorLevel) => (
          <div class="flex flex-wrap my-8 justify-center m-auto items-center">
            {sponsorLevel.map((sponsor) => (
              <Sponsor
                level={sponsor.level}
                imageAlt={sponsor.name}
                imageSrc={sponsor.imageSrc}
                link={sponsor.link}
              />
            ))}
          </div>
        ))
      }
    </div>
  </Section>
</div>
