@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #181818;
}

:global(html) {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  :global(html) {
    scroll-behavior: auto;
  }
}

.btn-outline {
  border-style: dashed;
  &:not(.btn-primary):hover {
    color: theme("textColor.primary");
  }
}
/* 
.btn-outline.btn-accent {
  color: theme("textColor.white");
  background-color: transparent;

  &:hover {
    color: theme("textColor.black");
    background-color: theme("colors.white");
  }
} */
