---
import { HeadHrefLangs } from "astro-i18next/components";
import i18next from "i18next";
import Drawer from "../components/Drawer.astro";
import Footer from "../components/Footer.astro";
import "./global.css";

export interface Props {
  title: string;
  headerShouldBeDarker?: boolean;
}

const { title, headerShouldBeDarker } = Astro.props;
---

<!doctype html>
<html data-theme="hedwig" lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Devfest Pescara 2023 and the developers' magic"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <HeadHrefLangs />
  </head>
  <body>
    <Drawer headerShouldBeDarker={headerShouldBeDarker}>
      <slot />
    </Drawer>
    <Footer />
    <script>
      if ("service-worker" in navigator) {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then(function (registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
          })
          .catch(function (err) {
            console.log("ServiceWorker registration failed: ", err);
          });
      }
    </script>
  </body>
</html>
